# Build folder
/collision-game/build/
build/

# IDE folders
/collision-game/.vs/
/collision-game/.vscode/
/collision-game/CMakeSettings.json
.vs/
.vscode/
CMakeSettings.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app